@import 'styles.css';

main{
    margin: 36px 0 96px 0;
}

.intro{
    width: 80%;
    margin: 30px auto;
}

.title_us{
    font-size: 7.2rem;
    color: var(--primary);
}

.text_description{
    width: 650px;
    font-size: 1.8rem;
    font-family: var(--secondary-Font);
}

.products{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.aside{
    width: 250px;
}

.form > h3{
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 1rem;
}

.form > label{
    display: block;
    font-size: 1.6rem;
    font-family: var(--secondary-Font);
    margin: 25px 0;
}

.form > input{
    width: 20px;
    height: 20px;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: var(--border);
    border-radius: 999px;
    outline: none;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background: var(--primary);
    cursor: pointer;
}

.price_range{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_range > p{
    font-family: var(--secondary-Font);
    font-size: 1.4rem;
}

.cards_products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.number{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--secondary-Font);
}

.number:hover{
    background-color: var(--border);
}

.select{
    color: var(--on-primary);
    background-color: var(--primary);
}

.select:hover{
    background-color: var(--primary);
}

.chevron_right{
    font-size: 3rem;
    width: 40px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    font-family: var(--secondary-Font);
}

.chevron_right:hover{
    background-color: var(--border);
}


