* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #651600; /* títulos, botón principal */
    --primary-dark: #87290d; /* navbar */
    --on-primary: #ffffff; /* texto sobre botón */

    --secondary: #79573f; /* botón secundario, acentos */

    --bg: #fff2d9; /* fondo de la página */
    --surface: #ffffff; /* tarjetas y contenedores */

    --text: #211b0b; /* texto principal */
    --text-muted: #57423c; /* texto secundario / párrafos */

    --border: #e9dedb;/* bordes sutiles */

    --primary-Font: "Manuale", serif;
    --secondary-Font: "Manrope", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--primary-Font);
    background-color: var(--bg);
}

.header {
    display: flex;
    padding: 1.6rem 3.2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);
}

.logo {
    width: 12rem;
}

.logo_img {
    width: 100%;
}

.list_menu {
    display: flex;
    gap: 40px;
}

.list_item {
    list-style: none;
}

.link_item {
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    color: var(--on-primary);
}

.button_pry {
    background-color: var(--primary);
    border-radius: 1rem;
    border: none;
    padding: 1.6rem 3.2rem;
    margin: 10px;
    transition: .4s;
} 

.button_pry > a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--primary-Font);
    color: var(--on-primary);
}

.button_pry:hover{
    transition: .4s;
    background: #87290d;
    transform: translateY(-4px);
}

.button_sec{
    background-color: transparent;
    border-radius: 1rem;
    border: 2px solid rgb(222 192 184 / 0.2);
    padding: 1.6rem 3.2rem;
    margin: 10px;
    transition: .4s;
}

.button_sec > a{
    text-decoration: none;
    font-family: var(--secondary-Font);
    font-size: 2rem;
    color: var(--secondary);
}

.button_sec:hover{
    transition: .4s;
    background: #eee1c8;
}

.card {
  width: 400px;
  height: 498px;
  background-color: var(--surface);
  text-decoration: none;
  color: var(--text);
  transition: box-shadow .3s; 
}

.card:hover {
  box-shadow: 0px 0px 10px black;
}

.img_container {
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.img_card {
  width: 100%;
  object-fit: cover;
  transition: transform .4s;
}

.card:hover .img_card {
  transform: scale(1.2);
}

.content_card{
    padding: 10px;
}

.text{
    margin-bottom: 5px;
}

.type_product{
    font-family: var(--secondary-Font);
    font-size: 1.2rem;
}

.title_product{
    font-size: 2.4rem;
}

.description{
    font-family: var(--secondary-Font);
    font-size: 1.6rem;
}

.price_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    font-family: var(--secondary-Font);
}

.price{
    font-size: 2.4rem;
}

.button_ter{
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    font-family: var(--secondary-Font);
    font-size: 1.6rem;
    padding: 10px;
    font-weight: bold;
}

.button_ter:hover{
    transition: .2s;
    background: #87290d;
}


.icons {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.icon_car {
    width: 3rem;
    padding: 2px;
}

.icon_user {
    width: 3rem;
    padding: 2px;
}

.img_car {
    width: 100%;
}

.img_user {
    width: 100%;
}

footer{
    margin-top: auto;
    background-color: var(--primary-dark);
    padding: 3.2rem;
}

.footer{
    margin: auto;
    width: 97%;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    color: var(--on-primary);
}

.title_footer{
    margin-bottom: 12px;
    font-style: italic;
    font-weight: lighter;
}

.p_footer{
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.img_footer{
    display: flex;
    align-items: center;
    gap: 30px;
}
.list_item_footer_img{
    display: flex;
    width: 3rem; 
    list-style: none;
}

.list_item_footer{
    margin-bottom: 1rem;
    list-style: none;
}

.link_item_footer{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--on-primary);
    text-decoration: none;
}

.contact_img_footer{
    width: 100%;
}

.img_contact{
    margin-left: 3rem;
}

.phone_number_footer{
    color: var(--on-primary);
    font-size: 2rem;
}

.footer_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--on-primary);
}


.footer_bottom > p{
    color: var(--on-primary);
    font-size: 1.5rem;
}